menu { display: block; }

entrees, plats, desserts, h1 { display:block;
    padding:10px;
    font-weight:bold;
    color:rgb(7, 7, 7); }

nom, prix, description, h2 {
    display: block;
    margin-left: 2em;
}
